include AUTHORS.rst
include Changelog
include LICENSE
include MANIFEST.in
include README.rst
include aioauth_client.py
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
